<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bootdo.coach.dao.ext.ExtTabStudentMapper" >
  <resultMap id="BaseResultMap" type="com.bootdo.coach.domain.TabStudent" >
    <id column="student_id" property="studentId" jdbcType="BIGINT" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="student_name" property="studentName" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="headimg" property="headimg" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
    <result column="last_login_ip" property="lastLoginIp" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="unionid" property="unionid" jdbcType="VARCHAR" />
    <result column="wechat_name" property="wechatName" jdbcType="VARCHAR" />
    <result column="amount_give" property="amountGive" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    student_id, account, student_name, sex, headimg, create_time, last_login_time, last_login_ip, 
    remarks, status, openid, unionid, wechat_name, amount_give
  </sql>
  <select id="selectByAccount" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tab_student
    where account = #{_parameter}
  </select>
  <select id="selectByOpenId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tab_student
    where openid = #{_parameter}
  </select>
  
  <insert id="insertSelectiveAndReturnId" parameterType="com.bootdo.coach.domain.TabStudent">
    insert into tab_student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="studentId != null" >
        student_id,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="studentName != null" >
        student_name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="headimg != null" >
        headimg,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastLoginTime != null" >
        last_login_time,
      </if>
      <if test="lastLoginIp != null" >
        last_login_ip,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="openid != null" >
        openid,
      </if>
      <if test="unionid != null" >
        unionid,
      </if>
      <if test="wechatName != null" >
        wechat_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="studentId != null" >
        #{studentId,jdbcType=BIGINT},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="studentName != null" >
        #{studentName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="headimg != null" >
        #{headimg,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginTime != null" >
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginIp != null" >
        #{lastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="unionid != null" >
        #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="wechatName != null" >
        #{wechatName,jdbcType=VARCHAR},
      </if>
    </trim>
    <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="studentId">  
		SELECT LAST_INSERT_ID()  
	</selectKey>
  </insert>
    <select id="count" resultType="int">
        select count(*) from tab_student
        <where>
			<if test="studentName != null and studentName != ''"> 
				and student_name = #{studentName} 
			</if>
		</where>
    </select>
  <select id="list" resultType="com.bootdo.coach.vo.TabStudentVo">
		select t.*,(SELECT count(*) FROM tab_order tt where tt.student_id=t.student_id and tt.pay_state=0) as isArrears
		from tab_student t
		<where>
			<if test="studentName != null and studentName != ''"> 
				and t.student_name = #{studentName} 
			</if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by t.student_id desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
  
</mapper>